#todos-list {
    div{
        display: flex;
        
    }
    list-style: none;
}

.task-title{
    margin-right: 30px;
}
.task-status{
    margin-right: 30px;
}
.task-description{
    margin-right: 30px;
}